$bg-color: linear-gradient(to right top, #0e1115, #0f151d, #0f1925, #0e1c2d, #0d1f36);
$white: #fff;
$black: #000;
$gradient: linear-gradient(to right, #93FABA, #8CEED6, #82E0F9);
$primary: #93FABA;
$gray: #616161;